
#carrito-de-compras-main{
    width: 100%;
    margin-top: 4.7em;
    padding-top: 0.7em;
    padding-bottom: 7.95em;
    background-color: white;
}

.imagen{
    margin: 0.5em;
    width: 6rem;
    
}
.productoCarrito{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.nombre-obra-artista{
    display: flex;
    flex-direction: column;
    width: 55%
}
.nombreObra{
    width: 100%;
    margin-top: 0.5em;
}

.artista{
    margin-top: 5px;
}

.precio-boton{
    display: flex;
    width: 35%;
    margin-top: 0.5em;
}

.precio{
    width: 65%;
}

#finalizarCompra{
    width: 90vw;
    color: #F5F5F7;
    background-color: #212125;
    border: none;
    padding: 0.6em;
    text-align: center;
    border-radius: 3px;
}

#boton-finalizar-compra{
    margin-left: 5%;
}

#boton{
    width: 25%;
    border: none;
    order: 1;
    background-color: rgba(255,255,255, 0);
    
}

.totalCompra{
    margin: 5px 35px;
}

#titulo-carrito{
    display: none;
}


#formulario-totalCompra{
    display: none;
}
#anteFooter{
    display: none;
}

.compra1{
    width: 95%;
    margin-left: 1.42em;
}

#texto-boton-descuento{
    font-size: 2px;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    font-weight: 600;
}


#continuarCompra{
    display: none;
    color: #F5F5F7;
    background-color: #212125;
    border: none;
    padding: 5px 8px;
    text-align: center;
    border-radius: 3px;
    width: 100%
}

#subt-envio-total{
   
    margin-left: 6%;
    margin-top: 4%;
    
}

.texto-envio{
    padding-top: 20px;
    padding-bottom: 5px;
   }

.titulo-total-compra{
    padding-top: 1.3em;
}

#total-envio-precios{
    display: flex;
    justify-content: space-between;
}
#subt-envio-total-precios{
    margin-right: 10%;
    margin-top: 4%;
}

.subt-costo{
    padding-bottom: 1.5em;
}

#ayuda{
    display: none;
    margin-right: 0.6em; 
}

#seleccion{   
margin-left: 2%;
}

#formulario-totalCompra2{
    text-align: center;
    padding-bottom: 2.5em;
    padding-top: 2em;
}
#texto-boton-descuento2{
    font-size: 2px;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    font-weight: 600;
}

#contenedor-text-cupon2{
    margin-top: 4px;
}

#cupon2{
    border: solid 1px #f5f4f2;
    color: white;
    padding: 5px;
}

#boton-descuento2{
    margin: 3px 72px;
    color: #F5F5F7;
    background-color: #212125;
    padding: 0.4em 0.6em;
    margin-top: 0.35em;
    border: 0px;
    border-radius: 3px;
}


@media (min-width:769px){
    #descuento-mobile{
        display: none
    }
    
    #titulo-carrito{
        display: block;
        text-align: center;
        padding-bottom: 1.5em;
        padding-top: 0.5em;
        
    }
 
    #country{
        width: 25%;
    }
    .totalCompra, #finalizarCompra{
        display: none;
    }

   
    .main-flex-compras{
        display: flex;
        width: 100%;
    }
    .compra1{
        width: 50%;
        margin-left: 0.57em;
    }
    .compra2{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 0.57em;
        padding: 0 0.4em;
    }
    #contenedor-text-cupon{
        margin-top: 4px;
    }
    #cupon{
        border: solid 1px #f5f4f2;
        color: white;
        display: block;
        padding: 5px;
    }

    #boton-descuento{
       
        margin: 3px 72px;
        color: #F5F5F7;
        background-color: #212125;
        padding: 0.4em 0.6em;
        margin-top: 0.35em;
        border: 0px;
        border-radius: 3px;
   
    }
    #boton-descuento:hover {
        background-color: #9E0051;
    }

    #continuarCompra:hover {
        background-color: #9E0051;
    }
    #boton{
       
        border: none;
        order: 1;
        background-color: rgba(255,255,255, 0);
        margin-left: auto;
        
        
    }
    #continuarCompra{
        display: block;
        
    }
    #anteFooter{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 8px;
        padding-top: 2em;
    }

    #ayuda{
        display: block;
      
    }
    .continuarComprando{
        display: flex;
        align-items: center;
        width: 30%;
        border: none;
        background-color:white;
    }
    #continuar{
        margin-left: 8px;

    }
    .tamanoFlecha{
        font-size: 30px;
    }

    #linea{
        width: 1px;
        background-color: rgba(0,0,0,0.5);
        
    }
    
    #descuentoForm{
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    
    
    .seguir-comprando{
        display: flex;
        align-items: center;
    }
    
    #enlace-continuar-comprando:link, 
    #enlace-continuar-comprando:visited{
        color:black;
        text-decoration: none;
        
      }
    
    .precio-boton{
        display: flex;
        width: 32%
    }

    #formulario-totalCompra{
        display: block;
    }
    
    #formulario-totalCompra2{
        display: none;
    
    }

    #logos-medios-de-pago{
        display: flex;
        justify-content: flex-end;
        padding-top: 0.5em;
        margin-right: 8em;
    }
}

