<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <header>
    <%- include('partials/header.ejs') %>
    </header>
    <main>
        
        <h1 class=titulares-principales>Acerca de nosotros</h1>
   

        <%- include('partials/caja-social') %>
            
    </main>  
    
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>