<div class="caja-social-icons">
    <a href="https:/facebook.com"><i class="fab fa-facebook-f icon-social-media"></i></a>
    <a href="https://instagram.com"><i class="fab fa-instagram icon-social-media"></i></a>
    <a href="htt[s://pinterest.com"><i class="fab fa-pinterest-p icon-social-media"></i></a>
    <a href=""><i class="far fa-envelope icon-social-media"></i></a>
</div>