
    <section id="footer">
       <nav id="footer-nav">
           <ul id="redirects">
               <li class="redirects-footer"><a href="/" class="textos-footer"><i class="fas fa-home" id="logo-home-footer"></i> Home</a><br><p class="descripcion-footer">Regresar al inicio</p></li>
               <li class="redirects-footer"><a href="/galeria" class="textos-footer"><i class="fas fa-paint-brush" id="logo-galeria-footer"></i> Galeria</a><br><p class="descripcion-footer">Visita miles de obras</p></li>
               <li class="redirects-footer"><a href="/galeria/crear_producto" class="textos-footer"><i class="fas fa-folder-plus" id="logo-publicar-footer"></i> Publicar Obras</a><br><p class="descripcion-footer">Vende tus obras con nosotros</p></li>
               <li class="redirects-footer"><a href="/user/ingresar" class="textos-footer"><i class="fas fa-user" id="logo-login-footer"></i> Log In</a><br><p class="descripcion-footer">Ingresa a tu cuenta</p></li>
               <li class="redirects-footer"><a href="" class="textos-footer"><i class="fas fa-folder-open" id="logo-categorias-footer"></i> Categorias</a><br><p class="descripcion-footer">Busca arte de todo tipo</p></li>
           </ul>
       </nav>
    </section>
