    <section id="barra-navegacion">

        <div id="nav-mobile" class="nav-left-section"> 
            <i class="fas fa-bars" id="menuHamburguesa"></i>
            <button type="submit" id="botonBusqueda"><i class="fas fa-search"></i></button>
        </div>

        <a href="/" id="logo"><img id="logo-img" src="/img/logo-prueba.png" ></a>

        <div class="nav-right-section">
            <nav id="nav-desktop">
                <ul id="menu">
                        <li class="shop-online"><a href="/galeria">Obras</a></li>
                        <li class="about"><a href="/galeria">Artistas</a></li>
                        <li class="contact"><a href="/contact">Contacto</a></li>
                        <li class="nav-item dropdown" id="dropdown-header">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                             <% if(locals.usuarioLogueado){ %>
                                     <% if(locals.usuarioLogueado.nombre_usuario){ %>
                                        <%= locals.usuarioLogueado.nombre_usuario %>
                                        <% }else{ %>
                                     <%= locals.usuarioLogueado.nombre_completo %>
                                         <% } %>
                                <% }else{ %>
                                   Ingresar
                                   <% } %>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <% if(locals.usuarioLogueado){ %>
                                    <li class="login"><a href="/user/mi_perfil/<%= locals.usuarioLogueado.id %>">Mi Perfil</i></a></li>
                                    <% if(locals.usuarioLogueado.nombre_usuario){ %>
                                        <li class="login"><a href="/galeria/crear_producto">Publicar Obras</a></li>
                                        <% } %>
                                    <li class="login"><a href="/user/logout">Log Out</a></li>
                                    <% }else{ %>
                                <li class="login"><a href="/user/ingresar" id="botonIngresar">Comprador</a></li>
                                <li class="login"><a href="/artist/ingresar" id="botonIngresar">Artista</a></li>
                                     <% } %>
                            </ul>
                          </li>
                </ul>
            </nav>

            <div id="nav-carrito">
                <a href="/carrito"><i class="fas fa-shopping-cart" id="carroHeader"></i><p id="carrito-count">0</p></a>
            </div>
        </div>

    </section>