    <section id="barra-navegacion">

        <div id="nav-mobile" class="nav-left-section"> 
            <p id="menuHamburguesa"><i class="fas fa-bars"></i></p>
            <button type="submit" id="botonBusqueda"><i class="fas fa-search"></i></button>
        </div>

        <a href="/" id="logo"><img id="logo-img" src="/img/logo-art.png" ></a>

        <div class="nav-right-section">
            <nav id="nav-desktop">
                <ul id="menu">
                        <li class="shop-online"><a href="/galeria">Obras</a></li>
                        <li class="about"><a href="/galeria">Artistas</a></li>
                        <li class="contact"><a href="/contact">Contacto</a></li>
                        <li class="login"><a href="/user/ingresar">Ingresá</a></li>
                </ul>
            </nav>

            <div id="nav-carrito">
                <a href="/carrito"><i class="fas fa-shopping-cart" id="carroHeader"></i></a>
            </div>
        </div>

    </section>