    <section id="barra-navegacion">

        <div id="nav-mobile" class="nav-left-section"> 
            <i class="fas fa-bars" id="menuHamburguesa"></i>
            <button type="submit" id="botonBusqueda"><i class="fas fa-search"></i></button>
        </div>

        <a href="/" id="logo"><img id="logo-img" src="/img/logo-prueba.png" ></a>

        <div class="nav-right-section">
            <nav id="nav-desktop">
                <ul id="menu">
                        <li class="shop-online"><a href="/galeria">Obras</a></li>
                        <li class="about"><a href="/galeria">Artistas</a></li>
                        <li class="contact"><a href="/contact">Contacto</a></li>

                        <% if(locals.usuarioLogueado){ %>
                            <li><a href="/user/mi_perfil/<%= locals.usuarioLogueado.id %>"><i class="fas fa-user" id="carroHeader"></i></a><a> </li>
                            <li><a href="/user/logout"><p>Log out</p></a></li>
                            <% }else{ %>
                        <li class="login"><a href="/user/ingresar" id="botonIngresar">Ingresá</a></li>
                             <% } %>
                </ul>
            </nav>

            <div id="nav-carrito">
                <a href="/carrito"><i class="fas fa-shopping-cart" id="carroHeader"></i></a>
            </div>
        </div>

    </section>